<div class="row">
  <center>

    <img src = "../assets/img/burger.jpg">
    {{!-- Left side --}}
    <div class="col-md-6">
      <h4 class="red_font">I am Hungry, I am Ready to eat!</h4>
      <div id="ready_to_eat">

      {{!-- burgers ready --}}
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}.{{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <!-- Right side -->
    <div class="col-md-6">
      <h4 class="red_font">Already eaten!</h4>
      <div id="already_eaten">

        <!-- Eaten Burgers Here -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
              <span class="input-group-btn">
                <button class="btn btn-info whine-button" type="button">Burp!</button>
              </span>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>

    <h2>Create an order</h2>
  
  <form id="add" action="/api/burgers/" method="POST">
    <textarea name="burger_name" id="addBurger"></textarea>
    <button class="btn btn-whine-button" id="submit1" type="submit">Submit</button>
</form>
</center>
</div>